h1 {
  color: red;
}
p {
  color: blue;
}
button {
  background-color: green;
  color: white;
}
#first {
  color: red;
  font-size: 40px;
}
#second {
  color: green;
  font-size: 40px;
}
.class-btn {
  color: black;
}

.bag-button{
  background-color: lightgreen;
  border: none;
  padding: 5px 15px;
  border-radius: 10px;
  color: black;
}
.wish-button{
  padding: 5px 15px;
  border: 2px solid black;
  border-radius: 10px;
}